<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot - Compras</title>
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="shortcut icon" href="../resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="../resources/iconos_barra/icono_inicio.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="../resources/iconos_barra/icono_ventas.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="../resources/iconos_barra/icono_compras.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="../resources/iconos_barra/icono_rrhh.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="../resources/iconos_barra/icono_inventario.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="../resources/iconos_barra/icono_mantenimiento.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="../resources/iconos_barra/icono_cocina.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="../resources/iconos_barra/icono_reservas.png">
                <p class="side-option">Reservas</p>
            </div>
            <div class="side report">
                <img class="side-foto" src="../resources/iconos_barra/icono_reporte.png">
                <p class="side-option">Reportes</p>
            </div>
            <div class="side config">
                <img class="side-foto" src="../resources/iconos_barra/icono_config.png">
                <p class="side-option">Configuraciones</p>
            </div>
            <div class="side ayuda">
                <img class="side-foto" src="../resources/iconos_barra/icono_ayuda.png">
                <p class="side-option">Ayuda</p>
            </div>
        </div>

        <div id="principal">
            <div class="box-title-prov">
                <img class="title-exit" src="../resources/Icono-Back.svg" alt="Icono - Exit">
                <h2 id="title-prov">Productos</h2>
            </div>
            <div class="dashboard">
                <div class="formulario">
                    <h3 id="title-detaile-prov">Detalles</h3>
                    <form action="/prod" method="post" id="form1">
                        <input type="hidden" name="_method" value="PATCH">
                    
                        <input placeholder="Nombre del Producto" class="input-data name-prov" type="text" name="NombreP"  maxlength="8">
                        <input placeholder="Unidades de Compra" class="input-data comp-prov" type="text" name="Unidades"  maxlength="12">
                        <input placeholder="Unidades de Consumo" class="input-data cons-prov" type="text" name="Consumo"  maxlength="12">
                        
                        <input type="submit" id="btn-regis" value="Agregar">
                        <input type="submit" id="btn-modi" value="Modificar">
                    </form>

                    
                    <button id="btn-clear">Limpiar</button>
                    
                </div>
                <div class="data">
                    <div class="content-prod">
                        <table id="tabla-comp">
                            <h3 id="title-table">Productos</h3>
                            <thead>
                            <tr style="user-select: none;">
                                <th class="comp-clase">ID</th>
                                <th class="comp-clase">Producto</th>
                                <th class="comp-clase">uds.Compra</th>
                                <th class="comp-clase">uds.Consumo</th>
                            </tr>
                            </thead>
                            <tbody id="tabla-comp-body">
                                <% if (data) { %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <td><%= data[i].ID_Producto %></td>
                                            <td><%= data[i].NombreP %></td>
                                            <td><%= data[i].Unidades %></td>
                                            <td><%= data[i].Consumo %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <form action="/prod/:nombre" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <select id="select-prod" class="input-data name-prov" name="NombreP">
                            <option disabled selected>Producto</option>
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                    <option value="<%= data[i].NombreP %>" ><%= data[i].NombreP %></option>
                                <% } %>
                                
                            <% } %>
                            
                        </select>
                        <input id="delete-prov-btn" type="submit" value="Eliminar">
                    </form>
                    
                </div>
            </div>
        </div>
    </main> 
    <script>
        // Selecciona el formulario específico por su id
        var form = document.getElementById('form1');

        //variable donde se guarda el id de los productos cuando se selecciona un registro en la tabla
        let idd
        
        // Agrega el evento 'submit' al formulario
        form.addEventListener('submit', function(event) {
            
            // Selecciona el select dentro del formulario actual
            var select = form.querySelector('select');
            // Si el botón presionado tiene el valor "Modificar"
            if (event.submitter.value === 'Modificar') {
                // Cambia la acción del formulario para incluir el ID y usar el método PATCH
                form.action = '/prod/' + idd + '?_method=PATCH';
            } else {
                // Si el botón presionado no es "Modificar", usa la acción por defecto
                form.action = '/prod';
            }
        });
        //Evento para agregar dinamicamente el nombre para poder utilizar la ruta /prod/:
        document.getElementById('delete-form').addEventListener('submit', function (e) {
            const select = document.getElementById('select-prod');
            const selectedOption = select.options[select.selectedIndex];
            const nombre = selectedOption.value;

            if (nombre) {
                this.action = `/prod/${nombre}?_method=DELETE`;
            }
        });
        
        //Buttos
        //Boton de Agregar
        registrar = document.getElementById('btn-regis')
        //Boton de Modificar
        modificar = document.getElementById('btn-modi')
        modificar.disabled = true
        //Boton de Eliminar
        eliminar = document.getElementById('delete-prov-btn')

        //variable donde se guarda el id de los productos cuando se selecciona un registro en la tabla
        

        //Inputs
        nombre = document.getElementsByClassName('name-prov')[0]
        //Unidades de Consumo
        unid_cons = document.getElementsByClassName('cons-prov')[0]
        //Unidades de Compra
        unid_comp = document.getElementsByClassName('comp-prov')[0]
        //Tabla de producto
        const tabla = document.getElementById('tabla-comp')
        function seleccionarFila(event){
            const filaSeleccionada = event.target.closest('tbody tr')
            if (filaSeleccionada ){
                idd = filaSeleccionada.cells[0].textContent
                const product = filaSeleccionada.cells[1].textContent
                const udsComp = filaSeleccionada.cells[2].textContent
                const udsCons = filaSeleccionada.cells[3].textContent
                
                modificar.disabled = false
                nombre.value = product
                unid_cons.value = udsCons
                unid_comp.value = udsComp
            }
            
        }

        //Evento para poder clickear tabla
        tabla.addEventListener('click',seleccionarFila)

        

        
        //Boton de Limpiar
        //AQUIIII
        //Cuando le apliques el evento de seleccionar la fila
        //Usas registrar.style.display = 'none'
        //Para que se ponga invisible
        limpiar = document.getElementById('btn-clear')

        limpiar.onclick = function(){
            idd = null
            console.log(idd)
            nombre.value = ''
            unid_cons.value = ''
            unid_comp.value = ''
            registrar.style.display = 'flex'
            modificar.disabled = true
        }

        //Tabla de los Producto
        //Categorias: Producto-Unidades-Cantidad-Precio
        let productos = document.getElementById('tabla-comp')
        //Tabla Contiene un thead y un tbody, tbody vacio, rellenar
        let prodbody = document.getElementById('tabla-comp-body')
        //Por si es necesario, directamente el body

        //Selector de Producto
        let selectprod = document.getElementById('select-prov')


        let exit = document.getElementsByClassName('title-exit')[0]
        //Boton de Exit

        exit.onclick = function(){
            window.location.href = '/'
        }
        // Validaciones
        registrar.onclick = function ocupar(event){
            if(nombre.value.length == 0 || unid_cons.value.length == 0 || unid_comp.value.length == 0){
                alert("Tiene que llenar los campos de texto para poder registrar producto")
            }
        }
        modificar.onclick = function ocupar(event){
            if(nombre.value.length == 0 || unid_cons.value.length == 0 || unid_comp.value.length == 0){
                alert("Tiene que llenar los campos de texto para poder modificar un producto")
            }else{
                console.log("Modificando producto")
            }
        }

        //valdiacion para la entrada de palabras
        nombre.onkeypress = function(e){
            var regex = /^[a-zA-Z\s]+$/
            if(!e.key.match(regex)){
                e.preventDefault()
            }
        }
        unid_comp.onkeypress = function(e){
            var regex = /^[a-zA-Z\s]+$/
            if(!e.key.match(regex)){
                e.preventDefault()
            }
        }
        unid_cons.onkeypress = function(e){
            var regex = /^[a-zA-Z\s]+$/
            if(!e.key.match(regex)){
                e.preventDefault()
            }
        }
    </script>
</body>
</html>