<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot - Compras</title>
    <link rel="stylesheet" href="../css/side.css">
    <link rel="stylesheet" href="../css/prov.css">
    <link rel="shortcut icon" href="../resources/icon.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="../resources/iconos_barra/icono_inicio.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="../resources/iconos_barra/icono_ventas.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="../resources/iconos_barra/icono_compras.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="../resources/iconos_barra/icono_rrhh.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="../resources/iconos_barra/icono_inventario.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="../resources/iconos_barra/icono_mantenimiento.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="../resources/iconos_barra/icono_cocina.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="../resources/iconos_barra/icono_reservas.png">
                <p class="side-option">Reservas</p>
            </div>
            <div class="side report">
                <img class="side-foto" src="../resources/iconos_barra/icono_reporte.png">
                <p class="side-option">Reportes</p>
            </div>
            <div class="side config">
                <img class="side-foto" src="../resources/iconos_barra/icono_config.png">
                <p class="side-option">Configuraciones</p>
            </div>
            <div class="side ayuda">
                <img class="side-foto" src="../resources/iconos_barra/icono_ayuda.png">
                <p class="side-option">Ayuda</p>
            </div>
        </div>

        <div id="principal">
            <div class="box-title-prov">
                <img class="title-exit" src="../resources/Icono-Back.svg" alt="Icono - Exit">
                <h2 id="title-prov">Proveedores</h2>
            </div>
            <div class="dashboard">
                <div class="left-side">
                    <table id="tabla-prov">
                        <h3 id="title-table">Proveedores</h3>
                        <thead>
                          <tr>
                            <th class="prov-clase">Empresa</th>
                            <th class="prov-clase">RIF</th>
                            <th class="prov-clase">Producto</th>
                          </tr>
                        </thead>
                        <tbody id="tabla-prov-body">
                            <% if (data) { %>
                                <% for (var i = 0; i < data.length; i++) { %>
                                    <tr>
                                        <td><%= data[i].Nombre_Empresa %></td>
                                        <td><%= data[i].RIF %></td>
                                        <td><%= data[i].Productos_Proveedor %></td>
                                        <td style="display:none"><%= data[i].Correo %></td>
                                        <td style="display:none"><%= data[i].Nombre_Responsa %></td>
                                        <td style="display:none"><%= data[i].Tlf %></td>
                                        <td style="display:none"><%= data[i].Dire_Fiscal %></td>
                                        <td style="display:none"><%= data[i].Precio_udcompra %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="right-side">
                    <div class="prov-details">
                        <h3 id="title-detaile-prov">Detalles</h3>
                        <form action="/prov/:nombre" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <select id="select-prov">
                                <option disabled selected>Proveedor</option>
                                <% if (data) { %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <option value="<%= data[i].Nombre_Empresa %>" ><%= data[i].Nombre_Empresa %></option>
                                    <% } %>
                                    
                                <% } %>
                            </select>
                            <input id="delete-prov-btn" type="submit" value="Eliminar">
                        </form>
                    </div>
                    
                    <div id="horizontal-divider"></div>
                    <div class="data">
                        
                        <form action="/prov" method="post" id="form1" class="form-data">
                            <input type="hidden" name="_method" value="PATCH">
                            <div class="data-box-title">
                                <h3 id="data-title">Datos del Proveedor</h3>
                                
                                <input type="submit" id="data-title-btn" value="Agregar">
                                <input type="submit" id="data-title-modi" value="Modificar">
                            </div>
                            <input placeholder="Nombre de la Empresa" class="input-data name-prov" type="text" name="nombre_empresa">
                            <input maxlength="10" placeholder="RIF" class="input-data rif-prov" type="text" name="rif">
                            <input placeholder="Direccion Fiscal" class="input-data dir-prov" type="text" name="Dire_Fiscal">
                            <input placeholder="Correo" class="input-data correo-prov" type="text" name="Correo">
                            <input placeholder="Nombre del Responsable" class="input-data resp-prov" type="text" name="nombre_responsa">
                            <input max="11" placeholder="Telefono" class="input-data tlf-prov" type="text" name="Tlf">
                            <input placeholder="Producto" class="input-data prod-prov" type="text" name="ProveedorProd">
                            <input placeholder="Precio por ud.Compra" class="input-data pre-prov" type="text" name="precio">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main> 
    <script>
        // Selecciona el formulario específico por su id
        var form = document.getElementById('form1');

        //variable donde se guarda el id (QUE ES EL RIF) de los productos cuando se selecciona un registro en la tabla
        let idd
        
        //Eliminar proveedor
        document.getElementById('delete-form').addEventListener('submit', function (e) {
            const select = document.getElementById('select-prov');
            const selectedOption = select.options[select.selectedIndex];
            const nombre = selectedOption.value;

            if (nombre) {
                this.action = `/prov/${nombre}?_method=DELETE`;
            }
        });
        
        // Agrega el evento 'submit' al formulario
        form.addEventListener('submit', function(event) {
            
            // Selecciona el select dentro del formulario actual
            var select = form.querySelector('select');
            // Si el botón presionado tiene el valor "Modificar"
            if (event.submitter.value === 'Modificar') {
                // Cambia la acción del formulario para incluir el ID y usar el método PATCH
                form.action = '/prov/' + idd + '?_method=PATCH';
            } else {
                // Si el botón presionado no es "Modificar", usa la acción por defecto
                form.action = '/prov';
            }
        });
        
        //Esto lo tengo que MODIFICARRR
        //Aqui tengo que hacer una peticion a la base de datos para obtener los datos y poder modificarlos
        const tabla = document.getElementById('tabla-prov')
        function seleccionarFila(event){
            const filaSeleccionada = event.target.closest('tbody tr')
            if (filaSeleccionada ){
                
                idd = filaSeleccionada.cells[1].textContent
                nombre_prov.value = filaSeleccionada.cells[0].textContent
                rif.value = filaSeleccionada.cells[1].textContent
                direc_fis.value = filaSeleccionada.cells[2].textContent
                correo.value = filaSeleccionada.cells[3].textContent
                nombre_res.value = filaSeleccionada.cells[4].textContent
                tlf.value = filaSeleccionada.cells[5].textContent
                producto.value = filaSeleccionada.cells[6].textContent
                precioo.value = filaSeleccionada.cells[7].textContent

            }
            
        }

        //Evento para poder clickear tabla
        tabla.addEventListener('click',seleccionarFila)







        let proveedores = document.getElementById('tabla-prov')
        //Tabla Contiene un thead y un tbody, tbody vacio, rellenar
        let provbody = document.getElementById('tabla-prov-body')
        //Por si es necesario, directamente el body
        //Las Caterogias de la tabla son Empresa-RIF-Producto

        let listaproveedores = document.getElementById('select-prov')
        //ComboBox-DropBox como le llamen, lista de todos proveedores, para seleccionarlo
        //Validar que el value no sea Proveedor ya que es el valor predeterminado
        //Cuando se seleccione uno que sus datos aparezcan en los inputs

        let btn_delete = document.getElementById('delete-prov-btn')
        //Boton que Elimina a un proveedor en el combobox

        let btn_add = document.getElementById('data-title-btn')
        let btn_modi = document.getElementById('data-title-modi')
        //Botones que agrega o modifica un proveedor validado por los inputs
        //Validar que si el proveedor ya existe que lo modifique

        //Inputs - Datos del Proveedor
        let precioo = document.getElementsByClassName('pre-prov')[0]
        //Precio por unidad de compra
        let nombre_prov = document.getElementsByClassName('name-prov')[0]
        //Nombre Del proveedor
        let rif = document.getElementsByClassName('rif-prov')[0]
        //RIF Del proveedor
        let direc_fis = document.getElementsByClassName('dir-prov')[0]
        //Direccion Fiscal del Proveedor
        let correo = document.getElementsByClassName('correo-prov')[0]
        //Correo Del proveedor
        let nombre_res = document.getElementsByClassName('resp-prov')[0]
        //Nombre Del responsable
        let tlf = document.getElementsByClassName('tlf-prov')[0]
        //Telefono Del proveedor
        let producto = document.getElementsByClassName('prod-prov')[0]
        //Producto que vende el proveedor

        let exit = document.getElementsByClassName('title-exit')[0]

        exit.onclick = function(){
            window.location.href = '/'
        }

        //Validaciones

        //Validacion si la entrada recibe un numero
        function validarNumero(e){
            //Funcion isNaN verifica si es numero, si es numero retornara False
            if (isNaN(e.key)){
                if (e.key != 'Backspace'){
                    e.preventDefault()
                }
            }
        }
        tlf.addEventListener('keydown', event => validarNumero(event))
        rif.addEventListener('keydown', event => validarNumero(event))

        correo.addEventListener('keydown',()=>{
            if(correo.value.match(/^[^ ]+@[^ ]+\.[a-z]{2,3}$/)){
                correo.style.border='2px solid #02676F'
            }
            else{
                correo.style.border='2px solid red'
            }
        })

        //validacion si la entrada recibe una letra
        function validLetra(e){
            var key = e.keyCode || e.which,
            tecla = String.fromCharCode(key).toLowerCase(),
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
            especiales = [8, 37, 39, 46],
            tecla_especial = false;

            for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
            }
        }
        //Validacion para el numero de telefono

        // Validacion de los campos
        btn_add.onclick = function validar(event){
            if(nombre_prov.value.length == 0 || rif.value.length == 0 || direc_fis.value.length == 0 || correo.value.length == 0
                || nombre_res.value.length == 0 || tlf.value.length == 0 || producto.value.length == 0){
                    alert("Tiene que llenar los campos primeros para poder agregar al provvedor")
            }else{
                if(correo.value.match(/^[^ ]+@[^ ]+\.[a-z]{2,3}$/) || tlf.value.match(/^(0414|0412|0424|0426)[0-9]{7}$/ || 
                    rif.value.match(/^j-[0-9]{9}$/))){
                    return
                }else{
                    alert("Unos de los campos esta mal escrito")
                }
            }
        }
        /* Esta validacion no es necesaria porque no se tienen que comprobar datos
        
        btn_delete.onclick = function validar(event){
            if(nombre_prov.value.length == 0 || rif.value.length == 0 || direc_fis.value.length == 0 || correo.value.length == 0
                || nombre_res.value.length == 0 || tlf.value.length == 0 || producto.value.length == 0){
                    alert("Se tiene que pasar los datos para poder eliminar al provvedor")
            }
        }*/




    </script>
</body>
</html>