<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bistrot - Compras</title>
    <link rel="stylesheet" href="/Compras/css/side.css">
    <link rel="stylesheet" href="/Compras/css/compra.css">
    <link rel="icon" href="/assets/favicon.ico">
    <script src="/assets/logout.js" defer></script>
</head>
<body>
    <header>
        <h1 id="title">BISTROT CHEZ RÉMY</h1>
        <select id="title-combo">
            <option selected>Gerente</option>
            <option>Cerrar Sesion</option>
        </select>
    </header>
    <main>
        <div id="sidebar">
            <div class="side inicio">
                <img src="/Compras/resources/iconos_barra/inicio-green.png" class="side-foto">
                <p class="side-option">Inicio</p>
            </div>
            <div class="side ventas">
                <img class="side-foto" src="/Compras/resources/iconos_barra/ventas-green.png">
                <p class="side-option">Ventas/Salon</p>
            </div>
            <div class="side compras">
                <img class="side-foto" src="/Compras/resources/iconos_barra/compras-green.png">
                <p class="side-option">Compras</p>
            </div>
            <div class="side rrhh">
                <img class="side-foto" src="/Compras/resources/iconos_barra/person-green.png">
                <p class="side-option">RRHH</p>
            </div>
            <div class="side inventario">
                <img class="side-foto" src="/Compras/resources/iconos_barra/inventario-green.png">
                <p class="side-option">Inventario</p>
            </div>
            <div class="side mantent">
                <img class="side-foto" src="/Compras/resources/iconos_barra/mantenimiento-green.png">
                <p class="side-option">Mantenimiento</p>
            </div>
            <div class="side cocina">
                <img class="side-foto" src="/Compras/resources/iconos_barra/cocina-green.png">
                <p class="side-option">Cocina/Bar</p>
            </div>
            <div class="side reserv">
                <img class="side-foto" src="/Compras/resources/iconos_barra/reservas-green.png">
                <p class="side-option">Reservas</p>
            </div>
        </div>
        <div id="principal">
            <div class="box-title-comp">
                <img class="title-exit" src="/Compras/resources/Icono-Back.svg" alt="Icono-Exit">
                <h2 id="title-comp">Realizar Compra</h2>
            </div>
            <div class="dashboard">
                <div class="left-side">
                    <table id="tabla-comp">
                        <h3 id="title-table">Requisiciones</h3>
                        <thead>
                        <tr>
                            <th class="comp-clase">ID</th>
                            <th class="comp-clase">Producto</th>
                            <th class="comp-clase">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody id="tabla-comp-body">
                            <% if (data2) { %>
                                
                                <% for (var i = 0; i < data2.length; i++) { %>
                                    <% if (data2[i].Aprobada == 1 && data2[i].Comprado == 0) { %>
                                        <tr>
                                            <td><%= data2[i].ID_Requisicion %></td>
                                            <td><%= data2[i].Nombre_Producto %></td>
                                            <td><%= data2[i].Cantidad %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <form class="right-side" id="form1" method="post" action="/compras-index/compra">
                    <h3 id="subtitle-comp">Proceso de Compra</h3>
                    <p class="help-comp">Seleccione el producto y su cantidad dependiendo de su unidad</p>
                    <div class="box-producto">
                        <input readonly  placeholder="Producto" id="select-prod" type="text" name="nombreP">
                        <input  id="input-cant" placeholder="Cantidad" type="text" name="cantidad" maxlength="2">
                    </div>
                    <p class="help-comp">Indique el Proveedor del producto</p>
                    <div class="box-prov">
                        <select id="select-prov" name="proveedor">
                            <option disabled selected>Proveedor</option>
                            
                            <% if (data3 !== undefined && data3 !== null) { %>
                                
                                <% for (var i = 0; i < data3.length; i++) { %>
                                    <option value="<%= data3[i].Nombre_Empresa %>" ><%= data3[i].Nombre_Empresa %></option>
                                <% } %>
                                
                            <% } %>
                        </select>
                        
                    </div>
                    <input value="Comprar" type="submit" id="confirm-compra-btn">
                    <input style="display: none;" id="id-solicitud" readonly type="text" name="id">
                </form>
            </div>
        </div>

        
        
    </main>
    <script src="/Compras/js/compra.js"></script>
</body>
</html>