<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="mesas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="reservacion.css">

</head>
<body>
    <div class="heading">
        <div class="titulo">
            <h1>BISTROT CHEZ RÉMY</h1>
        </div>
        <div class="usuario">
            <select name="usuario" id="usuario">
                <option value="gerente0000">gerente0000</option>
                <option value="gerente0001">gerente0001</option>
            </select>
        </div>
    </div>
    <div class="pagina">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="#"><img src="imagenes/icono_inicio.png" alt="Inicio">Inicio</a></li>
                    <li><a href="#"><img src="imagenes/icono_ventas.png" alt="Ventas/Salón">Ventas/Salón</a></li>
                    <li><a href="#"><img src="imagenes/icono_compras.png" alt="Compras">Compras</a></li>
                    <li><a href="#"><img src="imagenes/icono_rrhh.png" alt="RRHH">RRHH</a></li>
                    <li><a href="#"><img src="imagenes/icono_inventario.png" alt="Inventario">Inventario</a></li>
                    <li><a href="#"><img src="imagenes/icono_mantenimiento.png" alt="Mantenimiento">Mantenimiento</a></li>
                    <li><a href="#"><img src="imagenes/icono_cocina.png" alt="Cocina/Bar">Cocina/Bar</a></li>
                    <li><a href="#"><img src="imagenes/icono_reservas.png" alt="Reservas">Reservas</a></li>
                    <li><a href="#"><img src="imagenes/icono_reporte.png" alt="Reportes">Reportes</a></li>
                    <li><a href="#"><img src="imagenes/icono_config.png" alt="Configuraciones">Configuraciones</a></li>
                    <li><a href="#"><img src="imagenes/icono_ayuda.png" alt="Ayuda">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="contenidop">
                <div class="Reservaciones">
                   <h2>Reservar</h2>
                </div>
                <main>
                <div class="left-side">

                    <table>
                        <thead>
                            <tr>
                                <th>Nombre completo</th>
                                <th>Cédula</th>
                                <th>Fecha</th>
                                <th>telefono</th>
                                <th>Hora</th>
                                <th>Ubicación</th>
                                <th></th>
                            </tr>

                        </thead>

                        <tbody>
                            
                                <% if (data) { %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <td><%= data[i].nombre %></td>
                                            <td><%= data[i].ID_cliente %></td>
                                            <td><%= data[i].fecha %></td>
                                            <td><%= data[i].telefono %></td>
                                            <td><%= data[i].hora_inicio %></td>
                                            <td><%= data[i].ubicacion %></td>
                                            <td><input type="radio" name="radioboton" value="<%= data[i].ID_cliente %>"></td>
                        
                                        </tr>
                                    <% } %>
                                <% } %>
                        </tbody>
                    </table>
                 </div>       
                    <div class="right-side">
                        <ul>
                            <li><button class="btn-list reserva">Crear Reserva</button></li>
                            <form method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="id" value="ID_DE_LA_RESERVA">
                                <li>
                                    <button 
                                    class="btn-list delete-reserv">
                                    Eliminar Reserva
                                    </button>
                                </li>
                            </form>
                            <form id="form1" method="get">
                                <li><input value="modificar reserva" type="submit" class="btn-list modify-reserv"></li>

                            </form>
                            
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script>
        
        
        let botonReserva = document.querySelector('.btn-list.reserva');
        let botonEliminarReserva = document.querySelector('.btn-list.delete-reserv');
        let formulario1=document.getElementById('form1');
        let botonModificar = document.querySelector('.btn-list.modify-reserv');  
        botonReserva.addEventListener('click', () => {
            window.location.href = '/mesas'; // Cambia a la ruta del servidor
        });

        formulario1.addEventListener('submit',function (event) {
            let radios = document.getElementsByName('radioboton');
            let id = null;
            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    id = radios[i].value;
                    break;
                }
            }
            // como hago para que la id se pase a la vista modificarReserva.ejs

            if (id) {
                //window.location.href = `/modificar`;
                formulario1.action = `/modificar/${id}`;
                
            } else {
                alert('Seleccione una reserva para modificar');
            }
             
        });

        //boton que elimina un resgistro de la tabla reservas

        botonEliminarReserva.addEventListener('click', e => {
            e.preventDefault();
            const options = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }
            let radios = document.getElementsByName('radioboton');
            let id = null;
            for (let i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    id = radios[i].value;
                    break;
                }
            }
            if (id) {
                fetch(`/eliminar`,{
                    ...options,
                    body: JSON.stringify({id})
                })
                .then(res => res.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Reserva eliminada');
                        window.location.reload();
                    } else {
                        alert('Error al eliminar la reserva');
                    }
                })
                console.log("pues nose");
            } else {
                alert('Seleccione una reserva para eliminar');
            }
        });


        
    </script>
</body>
</html>


